<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JINet - {% block title %}{% endblock %}</title>
    <style>
     body {
      background: radial-gradient(circle at top center, #EDF8F9, #C4E8E7, #9FDADA, #79CDCF, #59C6C8, #36C0C6, #0DA7AC, #07808A, #075A63, #062E35);
     }
    <style>    

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/js/uikit.min.js"
            integrity="sha256-ua+o4DxFP7aL6MHSmSBDP8NXfdk7TqxFaPrdva4RXIk="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/js/uikit-icons.min.js"></script>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/css/uikit.min.css"
          integrity="sha256-g8YvscCh8RVhep6YAOn4nrSWVcAYbNmDKcOUKyafvDA="
          crossorigin="anonymous">
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky">
      <nav class="uk-navbar-container">
        <div class="uk-container">
          <div class="uk-inline uk-width-expand" uk-navbar>
            <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                {% block nav %}{% endblock %}
                <div class="uk-position-right uk-flex uk-flex-center uk-flex-middle">
                {% if user is defined %}                
                  <a href="/users/{{user.name}}" class="uk-button uk-button-link">
                    @{{user.name}}
                  </a>
                  <div class="uk-width-auto uk-margin-left">
                    <img alt="Profile image" class="uk-border-circle" width="40" height="40" src="{{user.picture}}" referrerpolicy="no-referrer" />
                  </div>
                {% else %}
                <a href="/login" class="uk-button uk-button-primary">Login</a>
                {% endif %}
                </div>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </div>
    <div class="uk-section-muted uk-height-viewport">
      <div class="uk-container">
        {% block main %}{% endblock %}
      </div>
    </div>
    <footer class="uk-section uk-container">
      Demo of JINet &copy; 2024 Giada Lalli.
    </footer>

    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
  </body>
</html>
