{% extends "_layout.html" %}
{% block title %}Home{% endblock %}
{% block nav %}
<li class="uk-active">
  <a>Home</a>
</li>
<li>
  <a href="/packages">Applications</a>
</li>
<li>
  <a href="/contribute">Contribute</a>
</li>
<li>
  <a href="/data">Sample Data</a>
</li>
{% if user is defined and user.role == "admin" %}
<li>
  <a href="/admin">Admin</a>
</li>
{% endif %}
{% endblock %}
{% block main %}
<section class="uk-section uk-section-muted">
  <div class="uk-container uk-container-xsmall uk-flex uk-flex-column uk-flex-between uk-flex-middle uk-height-medium">
    <img alt="JINet Logo" src="static/jinet-logo.png">
    <a href="/packages" class="uk-button uk-button-primary uk-border-rounded" style="background-color:#0e519f">Explore</a>
  </div>
</section>
<section class="uk-section uk-section-default uk-background-muted">
  <div class="uk-grid-collapse" uk-grid>
    <div class="uk-width-1-2@m">
      <div class="uk-padding uk-height-medium" style="background-color:#0e519f; color:white">
        <p>
          Self-contained, self-sustainable, client-based computation platform for clinical and multi-view data analysis in the healthcare context. JINet hosts numerous applications that you can run in the safety of your web browser without your data ever leaving your own machine. Applications are drawn from a wide range of sources including peer-reviewed pipelines, while citing original code.
        </p>
      </div>
    </div>
    <div class="uk-width-1-2@m">
      <div class="uk-padding uk-background-default uk-height-medium" style="color:#0e519f">
        <p>
          Use programming languages you're familiar with to write applications. Python, R, Julia, and Javascript are supported runtimes.
        </p>
      </div>
    </div>
    <div class="uk-width-1-2@m">
      <div class="uk-padding uk-background-default uk-height-medium" style="color:#0e519f">
        <p>
          This project implements a flexible and ever-evolving solution interoperability. JINet supports researchers' efforts by making software easily accessible through a simple point-and-click interface.
        </p>
      </div>
    </div>
    <div class="uk-width-1-2@m">
      <div class="uk-padding uk-height-medium" style="background-color:#0e519f; color:white">
        <p>
          JINet is created by researchers for researchers, aimed at expediting advancements in science and shedding light on interesting yet not fully recognized methods. If you wish to support JINet, please consider submitting your wrapper through the dedicated <a href="/contribute" class="uk-link-text">contribute</a> section or by visiting our public <a href="https://github.com/GiadaLalli/JINet" class="uk-link-text">git</a> repository.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="uk-section">
  <div class="uk-container">
    <div class="uk-child-width-1-3" uk-grid="masonry: pack">
      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <span uk-icon="icon: thumbnails; ratio: 3"></span>
          <h4>Multi-view data</h4>
          <p>
            Datasets that contain information from multiple sources or perspectives, often presenting a comprehensive picture of a complex system or phenomenon. In biomedical research, multi-view data encompasses various types of information, including but not limited to multi-omics, multi-modal, and imaging data.
          </p>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <span uk-icon="icon: file-text; ratio: 3"></span>
          <h4>Clinical data</h4>
          <p>
            Information collected during clinical care, medical research, or healthcare administration. It encompasses a wide range of data types related to patients' health status, medical history, diagnostic tests, treatments, and outcomes. Clinical data can be collected through various sources, including electronic health records (EHRs), medical imaging, laboratory tests, patient-reported outcomes, and administrative databases.

          </p>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <span uk-icon="icon: move; ratio: 3"></span>
          <h4>Application</h4>
          <p>
            A function written in a supported language to perform a computation based on some user inputs. Applications only run on clients machines and data is never transferred to our server.
          </p>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <span uk-icon="icon: desktop; ratio: 3"></span>
          <h4>Self-contained</h4>
          <p>
            A self-contained application is a software framework that includes all the necessary components and dependencies required to run independently on a target system without relying on external resources. In other words, it is a standalone application that can be executed on a computer or device without the need for additional installations or configurations.
          </p>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <span uk-icon="icon: users; ratio: 3"></span>
          <h4>Self-sustainable</h4>
          <p>
            A self-sustainable application is a software system capable of operating independently and autonomously without relying heavily on external resources or constant human intervention. Such applications are designed to efficiently manage their own resources, adapt to changing conditions, and continue functioning over an extended period without significant external support.
          </p>
        </div>
      </div>

      <div>
        <div class="uk-card uk-card-default uk-card-body">
          <span uk-icon="icon: world; ratio: 3"></span>
          <h4>Interoperability</h4>
          <p>
            Lorem ipsum dolor sit. aorstinarst aorsienar straestn orsitenr astienarsoitenaro sitenarstoieRSNT ARSTearnsoitenrstaorisetnarst.n 
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

