{% extends "package-run.html" %}

{% block extra_head %}
<script src="https://cdn.plot.ly/plotly-2.27.0.min.js" charset="utf-8"></script>
<script src="https://cdn.jsdelivr.net/pyodide/v0.25.0/full/pyodide.js"></script>
{% endblock %}

{% block main %}
{{ super() }}
<script type="text/javascript">
  const loaderdiv = document.querySelector("#loader");
  const parametersdiv = document.querySelector("#parameters");
  const datafolderbutton = document.querySelector("#data-folder");
  const fieldsparent = document.querySelector("#parameter-fields");
  const iface = {{iface | tojson}};

  for (const [name, desc] of Object.entries(iface.parameters)) {
    console.log(name,desc);
    switch (desc.type) {
    case "int": {
      const input = document.createElement("input");
      input.type = "number";
      input.id = name;
      input.step = 1;
      if (desc.default !== null) {
        input.value = desc.default;
      }
      const el = document.createElement("fieldset");
      el.innerHTML = desc.description;
      const title = document.createElement("legend");
      title.innerHTML = name;
      el.appendChild(title);
      el.appendChild(input);
      fieldsparent.appendChild(el);
      break;
    }

    case 'string': {
      const input = document.createElement("input");
      input.type = "text";
      input.id = name;
      if (desc.default !== null) {
        input.value = desc.default;
      }
      const el = document.createElement("fieldset");
      el.innerHTML = desc.description;
      const title = document.createElement("legend");
      title.innerHTML = name;
      el.appendChild(title);
      el.appendChild(input);
      fieldsparent.appendChild(el);
      break;
    }
    }
  }

  
  const worker = new Worker("/static/python-runtime.js");
  worker.onmessage = (evt) => {
    const {msg, value} = evt.data;
    console.log("Message:", msg, value);
    switch (msg) {
    case "error": {
      console.error(value);
      break;
    }
    case "source": {
      loaderdiv.style.display = "none";
      parametersdiv.style.display = "flex";
      break;
    }
    case "datadir": {
      datafolderbutton.disabled = true;
      break;
    }
    }
  };
  worker.postMessage({msg: "source", value: "/packages/file?package={{package}}"});

  datafolderbutton.addEventListener("click", async () => {
    const dirHandle = await showDirectoryPicker();
    if ((await dirHandle.queryPermission({ mode: "read" })) !== "granted") {
      if ((await dirHandle.requestPermission({ mode: "read" })) !== "granted") {
        throw Error("Unable to access your data directory");
      }
    }
    worker.postMessage({msg: "datadir", value: dirHandle});
  })
</script>
{% endblock %}
