<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="htmx-config" content='{"includeIndicatorStyles":false}'>
    <title>JINet / {% block title %}{% endblock %}</title>

    <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/js/uikit.min.js"
            integrity="sha256-ua+o4DxFP7aL6MHSmSBDP8NXfdk7TqxFaPrdva4RXIk="
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/js/uikit-icons.min.js"
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/uikit@3.18.3/dist/css/uikit.min.css"
          integrity="sha256-g8YvscCh8RVhep6YAOn4nrSWVcAYbNmDKcOUKyafvDA="
          crossorigin="anonymous">

    <link rel="stylesheet"
          href="/static/styles.css">
    <link rel="icon" type="image/png" href="/static/Jinet_Pictogram.png">
    {% block extra_head %}{% endblock %}
  </head>
  <body class="uk-background-muted" uk-height-viewport="expand: true">
    <header class="jinet-sticky-header">
      <nav class="uk-navbar-container">
        <div class="uk-container">
          <div class="uk-inline uk-width-expand" uk-navbar>
            <div class="uk-navbar-left">
              <ul class="uk-navbar-nav">
                <a class="uk-navbar-item uk-logo" href="#">
                  <img src="/static/Jinet_Pictogram.png" alt="JINet Logo Menu" width="60" height="51" decoding="async">
                </a>
                {% block nav %}{% endblock %}
                <div class="uk-position-right uk-flex uk-flex-center uk-flex-middle">
                  <a href="https://discord.gg/m5qGTUNK"><img alt="Discord" width="30" height="30" src="/static/discord.svg"></a>
                  <a href="https://github.com/GiadaLalli/JINet"><img alt="Source code" width="30" height="30" src="/static/Git-Icon-Black.svg"></a>
                {% if user is defined %}                
                  <div class="uk-width-auto uk-margin-left">
                    <img alt="Profile image" class="uk-border-circle" width="40" height="40" src="{{user.picture}}" referrerpolicy="no-referrer" />
                  </div>
                {% else %}
                <a href="/login" class="uk-button uk-button-primary uk-border-rounded jinet-background-blue">Login</a>
                {% endif %}
                </div>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="uk-section-muted">
      <div class="uk-container">
        {% block main %}{% endblock %}
      </div>
    </main>
    <footer class="uk-section uk-section-muted">
      <div class="uk-container">
        &copy; 2024 Giada Lalli &amp; James Collier
      </div>
    </footer>

    <script src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
