{% extends "_layout.html" %}
{% block title %}Contribute{% endblock %}
{% block nav %}
<li>
  <a href="/">Home</a>
</li>
<li>
  <a href="/packages">Applications</a>
</li>
<li>
  <a href="/contribute">Contribute</a>
</li>
<li>
  <a href="/data">Sample Data</a>
</li>
<li class="uk-active">
  <a>Admin</a>
</li>
{% endblock %}
{% block main %}
<ul class="uk-subnav uk-subnav-pill" uk-switcher>
  <li><a href="#">Upload permission requests</a></li>
  <li><a href="#">Users</a></li>
  <li><a href="#">Applications</a></li>
  <li><a href="#">Sample Data</a></li>
</ul>

<div class="uk-switcher uk-margin">
  <table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-justify uk-table-middle uk-table-responsive">
    <tr>
      <th>Username</th>
      <th>Status</th>
      <th class="uk-table-shrink">Grant</th>
      <th class="uk-table-shrink">Deny</th>
    </tr>
    {% for request in requests %}
    <tr>
      <td>{{ request.user.username }}</td>
      <td id="status-{{loop.index}}">{{ request.status }}</td>
      <td class="uk-table-shrink">
        <button class="uk-button uk-button-primary uk-button-small"
                hx-post="/requests/grant/{{request.user_id}}"
                hx-target="#status-{{loop.index}}">Grant</button>
      </td>
      <td class="uk-table-shrink">
        <button class="uk-button uk-button-danger uk-button-small"
                hx-post="/requests/deny/{{request.user_id}}"
                hx-target="#status-{{loop.index}}">Deny</button>
      </td>
    </tr>
    {% endfor %}
  </table>

  <table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-justify uk-table-middle uk-table-responsive">
    <tr>
      <th>ID</th>
      <th>Username</th>
      <th>Role</th>
      <th>Created</th>
      <th>Upload Permission</th>
    </tr>
    {% for u in users %}
    <tr>
      <td>{{ u.id }}</td>
      <td>{{ u.username }}</td>
      <td>{{ u.role }}</td>
      <td>{{ u.created }}</td>
      <td>{% if u.can_upload %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
  </table>

  <table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-justify uk-table-middle uk-table-responsive">
    <tr>
      <th>Owner</th>
      <th>Name</th>
      <th>Runtime</th>
      <th>Version</th>
      <th>Delete</th>
    </tr>
    {% for app in apps %}
    <tr id="app-{{ app.id }}">
      <td>{{ app.owner.username | escape }}</td>
      <td>{{ app.name | escape }}</td>
      <td>{{ app.runtime }}</td>
      <td>{{ app.version }}</td>
      <td class="uk-table-shrink">
        <button class="uk-button uk-button-danger uk-button-small"
                hx-delete="/packages/delete?package={{ app.owner.username|escape }}/{{ app.name|escape }}@{{ app.version }}"
                hx-target="#app-{{ app.id }}"
                hx-swap="outerHTML">
          Delete
        </button>
      </td>
    </tr>
    {% endfor %}
  </table>

  <table class="uk-table uk-table-divider uk-table-hover uk-table-small uk-table-justify uk-table-middle uk-table-responsive">
    <tr>
      <th>Filename</th>
      <th>MIME</th>
      <th>Owner</th>
      <th>Delete</th>
    </tr>
    {% for data in sampledata %}
    <tr>
      <td>{{ data.name | escape }}</td>
      <td>{{ data.mime | escape }}</td>
      <td>{{ data.owner.username }}</td>
      <td class="uk-table-shrink">
        <button class="uk-button uk-button-danger uk-button-small"
                hx-delete="/data/delete/{{ data.id }}"
                >
          Delete
        </button>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
