{% extends "_layout.html" %}
{% block title %}Contribute{% endblock %}
{% block nav %}
<li>
  <a href="/">Home</a>
</li>
<li>
  <a href="/packages">Applications</a>
</li>
<li class="uk-active">
  <a>Contribute</a>
</li>
<li>
  <a href="/data">Sample Data</a>
</li>
{% if user is defined and user.role == "admin" %}
<li>
  <a href="/admin">Admin</a>
</li>
{% endif %}
{% endblock %}
{% block main %}
<h1>Contributing</h1>
<div class="uk-container uk-flex uk-flex-column uk-flex-middle">
{% if user is defined and not user.can_upload %}
<a class="uk-button uk-button-primary uk-border-rounded" style="background-color:#0e519f">Request permission to submit applications</a>
{% endif %}
<p>
  You will write a script (called an "Application") that defines a single entry-point function. You can call the entry-point function any valid function name. All computation should occur within that function though you may set up the environment at the top level (such as installing dependencies). You may also define other helper functions at the top-level.
</p>
<p>
  The entry-point function is the interface to your application. JINet will render the UI, accept parameters from the user of your application, and finally call your function with those parameters.
</p>
<p>
  Your entry-point function can accept input parameters which are values provided by the user. However, there are limitations on the types of data that these parameters can be. They can only be numbers, strings, or filenames (as strings).
</p>
<p>
  When designing your entry-point function, you need to consider how to handle the input parameters effectively. If your underlying script requires complex data structures like data frames (common in languages like R or Python), you cannot directly pass these as parameters due to the limitations mentioned earlier. You may instead choose to accept filenames and read data from these files.
</p>
<p>
  Your entry-point function should return either an HTML string or a file name. When returning a file name, the user will be able to download this file when your function completes. It's crucial to implement robust error handling mechanisms within your function to handle cases where the provided filename is invalid or the file does not contain the expected data format. There is currently no mechanism to indicate errors to the user.
</p>
</div>

{% if user is defined and user.can_upload %}
<hr class="uk-divider-icon uk-margin">
<form hx-post="/packages/validate" hx-target="this" hx-swap="outerHTML" hx-encoding="multipart/form-data" hx-on::afterSwap="scrollToTop()">
  <div class="uk-flex uk-margin uk-flex-middle">
    <span class="uk-label uk-margin-right">Runtime</span>
    <div>
      <input type="radio" id="python-runtime" name="runtime" value="python-runtime" checked />
      <label for="python-runtime">Python 3.11</label>
    </div>
    <div>
      <input type="radio" id="javascript-runtime" name="runtime" value="javascript-runtime" disabled />
      <label for="javascript-runtime">Javascript</label>
    </div>
    <div>
      <input type="radio" id="R-runtime" name="runtime" value="R-runtime" />
      <label for="R-runtime">R</label>
    </div>
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <label class="uk-label uk-margin-right" for="package-name">Name</label>
    <input id="package-name" name="package-name" class="uk-input" type="text" placeholder="Name">
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <label class="uk-label uk-margin-right" for="package-headline">Headline</label>
    <input id="package-headline" name="package-headline" class="uk-input" type="text" placeholder="Headline">
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <label class="uk-label uk-margin-right" for="package-description">Description</label>
    <textarea id="package-description" name="package-description" rows="20" cols="100"></textarea>
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <label class="uk-label uk-margin-right" for="package-tags">Tags</label>
    <input id="package-tags" name="package-tags" class="uk-input" type="text" placeholder="Comma seperated list of tags." />
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <label class="uk-label uk-margin-right" for="package-file">File</label>
    <input id="package-file" name="package-file" class="uk-input" type="file">
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <label class="uk-label uk-margin-right" for="package-logo">Logo</label>
    <input id="package-logo" name="package-logo" class="uk-input" type="file">
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <label class="uk-label uk-margin-right" for="entrypoint">Entrypoint</label>
    <input id="entrypoint" name="entrypoint" class="uk-input" type="text" placeholder="main" />
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <label class="uk-label uk-margin-right" for="parameters">Parameters</label>
    <div id="parameter-fields" class="uk-flex uk-flex-column uk-width-1-1">
      <span class="uk-flex">
        <input id="parameter-name-0" type="text" placeholder="Name"/>
        <select id="parameter-type-0" class="uk-margin-left">
          <option value="string" selected>String</option>
          <option value="path">Path</option>
          <option value="int">Integer</option>
          <option value="float">Float</option>
        </select>
        <input id="parameter-description-0" class="uk-margin-left" type="text" placeholder="Description" />
        <input id="parameter-default-0" class="uk-margin-left" type="text" placeholder="Default value" />
        <a id="add-0" class="uk-icon-button uk-margin-left" uk-icon="plus" ></a>
      </span>
    </div>
  </div>
  <div class="uk-flex uk-margin uk-flex-middle">
    <span class="uk-label uk-margin-right">Output type</span>
    <div>
      <input type="radio" id="output-html" name="output" value="output-html" checked />
      <label for="output-html">HTML</label>
    </div>
    <div>
      <input type="radio" id="output-file" name="output" value="output-file" />
      <label for="output-file">File</label>
    </div>
  </div>
  <div class="uk-flex uk-margin uk-flex-center">
    <input type="submit" value="Submit" class="uk-button uk-button-primary uk-margin-right" />
    <a href="/packages" class="uk-button uk-button-secondary uk-margin-left">Cancel</a>
  </div>
  <input type="hidden" name="parameters" id="parameters" value="" />
</form>
<script src="/js/ui-contribute.js"></script>
{% endif %}
{% endblock %}
