{% extends "_layout.html" %}
{% block title %}Applications{% endblock %}
{% block nav %}
<li>
  <a href="/">Home</a>
</li>
<li class="uk-active">
  <a>Applications</a>
</li>
<li>
  <a href="/contribute">Contribute</a>
</li>
<li>
  <a href="/data">Sample Data</a>
</li>
{% if user is defined and user.role == "admin" %}
<li>
  <a href="/admin">Admin</a>
</li>
{% endif %}
{% endblock %}
{% block main %}
<div uk-grid>
  <div class="uk-margin uk-width-expand">
    <form class="uk-search uk-search-default uk-width-expand">
      <span uk-search-icon></span>
      <input class="uk-search-input" type="search" placeholder="Search" aria-label="Search">
    </form>
    <div class="uk-margin-top">
      {% for tag in tags %}
      <a
        hx-get="/packages/list?since=0&tag={{tag}}"
        hx-target="#application-list">
        <span class="uk-badge">{{tag}}</span>
      </a>
      {% endfor %}
    </div>
    <hr class="uk-divider-icon">
  </div>
</div>
<div
  id="application-list"
  class="uk-text-center uk-child-width-1-1@s uk-child-width-1-3@m"
  uk-grid
  hx-get="/packages/list?since=0"
  hx-trigger="load">
</div>
{% endblock %}
