{% extends "_layout.html" %}
{% block title %}Run / {{application}}{% endblock %}
{% block nav %}
<li>
  <a href="/">Home</a>
</li>
<li>
  <a href="/packages">Applications</a>
</li>
<li>
  <a href="/contribute">Contribute</a>
</li>
<li>
  <a href="/data">Sample Data</a>
</li>
<li class="uk-active">
  <a>Run</a>
</li>
{% if user is defined and user.role == "admin" %}
<li>
  <a href="/admin">Admin</a>
</li>
{% endif %}
{% endblock %}

{% block main %}
<div class="uk-flex uk-flex-column">
  <section>
    <h1>{{application}}</h1>
    {% if package.logo is not none %}
    <img alt="{{package.name}} logo" class="uk-border-circle" width="40" height="40" src="/packages/logo?package={{application}}">
    {% endif %}
    <p>
      {{package.description}}
    </p>
  </section>
  <section class="uk-flex uk-flex-column uk-flex-center uk-flex-middle" id="main">
    <div id="loader">
      <div uk-spinner="ratio: 3"></div>
      <p>Loading...</p>
      <input type="button"
             class="uk-button uk-button-danger jinet-hide"
             value="Cancel"
             id="cancel-run-package" />
    </div>
    <div id="parameters" class="uk-flex uk-flex-column jinet-hide jinet-gap">
      <input type="button"
             name="data"
             id="data-folder"
             value="Select your local data folder"
             class="uk-button uk-button-default" />
      <fieldset id="parameter-fields"
                class="uk-flex uk-flex-column uk-flex-center jinet-hide">
        <legend>Parameters</legend>
        {% for parameter in package.interface.parameters %}
        <fieldset class="uk-flex uk-flex-column">
          <legend>{{parameter.name}}</legend>
          <p class="uk-text-meta uk-margin-small">{{parameter.description}}</p>

          {% if parameter.type == "string" %}
          <input type="text" id="parameter-{{parameter.name}}" value="{{parameter.default if parameter.default is not none else ''}}" />
          {% elif parameter.type == "int" %}
          <input type="number" step="1" id="parameter-{{parameter.name}}" value="{{parameter.default if parameter.default is not none else 0}}" />
          {% elif parameter.type == "float" %}
          <input type="number" id="parameter-{{parameter.name}}" value="{{parameter.default if parameter.default is not none else 0.0}}" step="0.01" />
          {% elif parameter.type == "bool" %}
          <input type="checkbox" id="parameter-{{parameter.name}}" {% if parameter.default == true %}checked{% endif %}>
          {% elif parameter.type == "path" %}
          <div class="uk-height-max-medium uk-overflow-auto"
               data-parameter="path"
               data-parameter-name="parameter-{{parameter.name}}">

          </div>
          {% endif %}

        </fieldset>
        {% endfor %}
      </fieldset>
      <input type="button"
             class="uk-button uk-button-primary jinet-hide"
             value="Run!"
             id="run-package" />
    </div>
    <div id="result" class="uk-flex uk-flex-column uk-margin jinet-hide jinet-line-height-initial">
      <span class="uk-flex uk-flex-between uk-flex-middle">
        <h2>Results</h2>
        <button id="share-button" class="uk-button uk-button-default uk-margin-bottom"><span uk-icon="icon: cloud-upload"></span>Share result</button>
        <form id="share-passphrase-ui" class="jinet-hide" hx-post="/share?application={{ application }}" hx-encoding="multipart/form-data" hx-target="this" hx-swap="outerHTML">
          <input id="share-passphrase" type="password" placeholder="Passphrase">
          <input type="hidden" name="output-type" value="{{ package.interface.output }}">
          <input type="hidden" id="output-data" name="output-data" value="">
          <input type="hidden" id="checksum" name="checksum" value="">
          <input type="hidden" id="filename" name="filename" value="">
          <input type="submit" value="Share" class="uk-button uk-button-primary">
        </form>
      </span>
      <div id="result-contents"></div>
    </div>
  </section>
</div>
<script type="module" src="/js/share.js?application={{ application }}"></script>
{% endblock %}
